<div class="login-view-wrapper custom-container">
  <div class="login-view">
    <div class="logo-wrapper">
      <h2>SIGN UP</h2>
    </div>
    <div class="login-form-wrapper">
      <form class="ro-form" [formGroup]="signupForm" (ngSubmit)="signUp()">
        <div class="form-group">
          <label class="labelHead" for="username">
            <b>Username</b>
          </label>
          <input type="text" id="username" placeholder="username" formControlName="userName">

          <div
            *ngIf="(signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty) && signupForm.get('userName')?.hasError('required')"
            class="form-error-messages"
            id="error-no-username">
            {{emptyUserName}}
          </div>
          <div
            *ngIf="(signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty) && signupForm.get('userName')?.hasError('minlength')"
            class="form-error-messages"
            id="error-minlength-username">
            {{minlengthUserName}}
          </div>
          <div
            *ngIf="(signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty) && signupForm.get('userName')?.hasError('maxlength')"
            class="form-error-messages"
            id="error-maxlength-username">
            {{maxlengthUserName}}
          </div>
          <div
            *ngIf="(signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty) && signupForm.get('userName')?.hasError('pattern')"
            class="form-error-messages"
            id="error-pattern-username">
            {{userNamePattern}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="password">
            <b>Password</b>
          </label>
          <input type="password" id="password" placeholder="password" formControlName="password">
          <div
            *ngIf="(signupForm.get('password')?.touched || signupForm.get('password')?.dirty) && signupForm.get('password')?.hasError('required')"
            class="form-error-messages"
            id="error-no-password">
            {{emptyPassword}}
          </div>
          <div
            *ngIf="(signupForm.get('password')?.touched || signupForm.get('password')?.dirty) && signupForm.get('password')?.hasError('minlength')"
            class="form-error-messages"
            id="error-minlength-password">
            {{minlengthPassword}}
          </div>
          <div
            *ngIf="(signupForm.get('password')?.touched || signupForm.get('password')?.dirty) && signupForm.get('password')?.hasError('maxlength')"
            class="form-error-messages"
            id="error-maxlength-password">
            {{maxlengthPassword}}
          </div>
          <div
            *ngIf="(signupForm.get('password')?.touched || signupForm.get('password')?.dirty) && signupForm.get('password')?.hasError('pattern')"
            class="form-error-messages"
            id="error-pattern-password">
            {{passwordPattern}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="mobile">
            Contact number
          </label>
          <input type="number" value="" id="mobile" placeholder="mobile number" formControlName="mobile">
          <div
            *ngIf="(signupForm.get('mobile')?.touched || signupForm.get('mobile')?.dirty) && signupForm.get('mobile')?.invalid"
            id="error-mobile"
            class="form-error-messages">
            {{mobileErrMsg}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="email">
            Email
          </label>
          <input type="email" value="" id="email" placeholder="Email" formControlName="email">
          <div
            *ngIf="(signupForm.get('email')?.touched || signupForm.get('email')?.dirty) && signupForm.get('email')?.invalid"
            id="error-email"
            class="form-error-messages">
            {{emailErrMsg}}
          </div>
        </div>

        <div class="form-group">
          <label class="labelHead" for="location">
            Location
          </label>
          <input type="text" value="" id="location" placeholder="Location" formControlName="location">
          <div
            *ngIf="(signupForm.get('location')?.touched || signupForm.get('location')?.dirty) && signupForm.get('location')?.hasError('required')"
            id="error-location"
            class="form-error-messages">
            {{locationErrMsg}}
          </div>
        </div>

        <div class="col-sm-12 clmn12">
          <!-- call goBack method when clicking on this button-->
          <button id="back" class="guest-btn" type="button" (click)="goBack()">Back</button>
          <!-- disable button if form not valid -->
          <!-- call signUp method when clicking on this button-->
          <button id="signup" class="login-btn" type="submit" [disabled]="!signupForm.valid">Create Account</button>
        </div>

      </form>
    </div>
  </div>
</div>
