<app-header></app-header>

  <div id="form-container" [formGroup]="complexForm" >
    <div class="form">
      <div class="form-content">
        <div class="col-sm-12 ">
        <div class="col-sm-8 div-header">
          <h2 class="header">Enter Patient details</h2>
        </div>

        </div>
        <!-- call submitForm method with all form values if form is valid -->
        <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">

          <div class="form-group">
            <label class="label-name">
              Name:<span class="required">*</span>
            </label>
            <input id="firstname" class="form-control text-box" type="text" placeholder="NAME"  formControlName="name">
            <div *ngIf="complexForm.get('name')?.dirty && complexForm.get('name')?.hasError('required')" id="error-no-firstname" class="alert alert-danger error-msg">
              {{emptyName}}
            </div>
            <div  *ngIf="complexForm.get('name')?.dirty && complexForm.get('name')?.hasError('minlength')" id="error-minlength-firstname" class="alert alert-danger error-msg">
              {{minlengthName}}
            </div>
            <div *ngIf="complexForm.get('name')?.dirty && complexForm.get('name')?.hasError('maxlength')" id="error-maxlength-firstname" class="alert alert-danger error-msg">
              {{maxlengthName}}
            </div>
          </div>

          <div class="form-group">
            <label class="label-name">
              Gender:<span class="required">*</span>
            </label>
            <div class="input-div">
              <input
                type="radio"
                id="male"
                class="input-content"
                value="Male"
                formControlName="gender"
              />
              <label class="label-content" for="male">Male</label>
              <input
                type="radio"
                id="female"
                class="input-content"
                value="Female"
                formControlName="gender"
              />
              <label class="label-content" for="female">Female</label>
            </div>
            <div
              *ngIf="complexForm.get('gender')?.dirty && complexForm.get('gender')?.hasError('required')"
              class="alert alert-danger error-msg"
              id="error-no-gender"
            >
              {{ noGender }}
            </div>
          </div>


          <div class="form-group">
            <label class="label-name">
              Date of birth:<span class="required">*</span>
            </label>
            <div>
              <input
                id="date-input"
                class="form-control date-input"
                type="date"
                placeholder="Date of birth"
                min="1968-01-01"
                [max]="today"
                formControlName="dob"
              />
            </div>
            <div
              *ngIf="complexForm.get('dob')?.dirty && complexForm.get('dob')?.hasError('required')"
              class="alert alert-danger error-msg"
              id="error-no-dob"
            >
              {{ noDob }}
            </div>
          </div>

          <div class="form-group">
            <label class="label-name">
              Contact number:<span class="required">*</span>
            </label>
            <input
              id="mobile"
              class="form-control text-box"
              type="text"
              placeholder="mobile number"
              formControlName="mobile"
            />
            <div
              *ngIf="complexForm.get('mobile')?.dirty && complexForm.get('mobile')?.hasError('required')"
              class="alert alert-danger error-msg"
              id="error-no-mobile"
            >
              {{ noMobile }}
            </div>
            <div
              *ngIf="complexForm.get('mobile')?.dirty && complexForm.get('mobile')?.hasError('pattern')"
              class="alert alert-danger error-msg"
              id="error-number-mobile"
            >
              {{ numberMobile }}
            </div>
            <div
              *ngIf="complexForm.get('mobile')?.dirty && complexForm.get('mobile')?.hasError('maxlength')"
              class="alert alert-danger error-msg"
              id="error-maxlength-mobile"
            >
              {{ maxlengthMobile }}
            </div>
          </div>

          <div class="form-group">
            <label class="label-name" for="email">
              Email:<span class="required">*</span>
            </label>
            <input
              id="email"
              class="form-control text-box"
              type="email"
              placeholder="example:abc12@tcs.com"
              formControlName="email"
            />
            <div
              *ngIf="complexForm.get('email')?.hasError('required')"
              class="alert alert-danger error-msg"
              id="error-no-email"
            >
              {{ noEmail }}
            </div>
            <div
              *ngIf="!complexForm.get('email')?.hasError('required')
                  && complexForm.get('email')?.hasError('pattern')
                  && (complexForm.get('email')?.dirty || complexForm.get('email')?.touched)"
              class="alert alert-danger error-msg"
              id="error-pattern-email"
            >
              {{ patternEmail }}
            </div>
          </div>

          <div class="form-group">
            <label class="label-name" for="description">
              Description: <span class="xs-font">(Optional)</span>
            </label>
            <textarea
              id="description"
              class="form-control"
              placeholder="Briefly describe the issue"
              formControlName="description"
            ></textarea>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            <button
              type="submit"
              id="submit-btn"
              class="btn btn-primary submit-btn"
              [disabled]="!complexForm.valid"
            >
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

